USE [WebsiteBanQuanAo]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 30-11-2023 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] NOT NULL,
	[brand_name] [varchar](50) NOT NULL,
	[avatar] [varchar](50) NULL,
	[show_on_home_page] [bit] NULL,
	[display_order] [int] NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
	[deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30-11-2023 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] NOT NULL,
	[category_name] [varchar](50) NOT NULL,
	[avatar] [varchar](50) NULL,
	[show_on_home_page] [bit] NULL,
	[deleted] [bit] NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30-11-2023 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[order_name] [nvarchar](50) NULL,
	[product_id] [int] NULL,
	[price] [float] NULL,
	[status] [int] NULL,
	[created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 30-11-2023 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[brand_id] [int] NULL,
	[category_id] [int] NULL,
	[short_des] [nvarchar](100) NULL,
	[full_des] [nvarchar](100) NULL,
	[price] [float] NULL,
	[price_discount] [float] NULL,
	[type_id] [int] NULL,
	[deleted] [bit] NULL,
	[show_on_home_page] [bit] NULL,
	[display_order] [int] NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
	[avatar] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30-11-2023 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[user_first_name] [varchar](50) NOT NULL,
	[user_last_name] [varchar](50) NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](50) NULL,
	[is_admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Brand] ([brand_id], [brand_name], [avatar], [show_on_home_page], [display_order], [created], [updated], [deleted]) VALUES (1, N'Adidas', N'adidas.jpg', 1, 1, NULL, NULL, 0)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [avatar], [show_on_home_page], [display_order], [created], [updated], [deleted]) VALUES (2, N'Nike', N'nike.jpg', 1, 2, NULL, NULL, 0)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [avatar], [show_on_home_page], [display_order], [created], [updated], [deleted]) VALUES (3, N'LouisVuitton', N'louis.jpg', 1, 3, NULL, NULL, 0)
GO
INSERT [dbo].[Category] ([category_id], [category_name], [avatar], [show_on_home_page], [deleted], [created], [updated]) VALUES (1, N'Áo', N'ao.jpg', 1, 0, NULL, NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [avatar], [show_on_home_page], [deleted], [created], [updated]) VALUES (2, N'Quân', N'quan.jpg', 1, 0, NULL, NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [avatar], [show_on_home_page], [deleted], [created], [updated]) VALUES (3, N'Túi xách ', N'tuixach.jpg', 1, 0, NULL, NULL)
GO
INSERT [dbo].[Orders] ([order_id], [user_id], [order_name], [product_id], [price], [status], [created]) VALUES (0, NULL, N'DonHang-20231130103158', NULL, NULL, 1, CAST(N'2023-11-30T10:31:58.440' AS DateTime))
GO
INSERT [dbo].[Product] ([product_id], [product_name], [brand_id], [category_id], [short_des], [full_des], [price], [price_discount], [type_id], [deleted], [show_on_home_page], [display_order], [created], [updated], [avatar]) VALUES (1, N'Áo ngan Adidas', 1, 1, N'Áo thun nam tay ngắn adidas - HS3215', N'Thành tích thể thao: tập trung vào tính năng của sản phẩm đáp ứng cho các VĐV chuyên nghiệp', 200000, 5, 1, NULL, 1, 1, NULL, NULL, N'aonganadidas.jpg')
INSERT [dbo].[Product] ([product_id], [product_name], [brand_id], [category_id], [short_des], [full_des], [price], [price_discount], [type_id], [deleted], [show_on_home_page], [display_order], [created], [updated], [avatar]) VALUES (2, N'Quân ngan Adidas', 1, 2, N'QUẦN SHORT OWN THE RUN', N'Làm từ một nhóm chất liệu tái chế và có chứa ít nhất 60% thành phần tái chế', 300000, 6, 1, NULL, 1, 1, NULL, NULL, N'quannganadidas.jpg')
INSERT [dbo].[Product] ([product_id], [product_name], [brand_id], [category_id], [short_des], [full_des], [price], [price_discount], [type_id], [deleted], [show_on_home_page], [display_order], [created], [updated], [avatar]) VALUES (3, N'Túi xách Adidas', 1, 3, N'Túi xách adidas Linear Core Duffel Bag Small - Black - DT4826', N'Túi xách adidas Linear Core Duffel Bag Small - Black - DT4826 Chính hãng', 450000, 8, 2, NULL, 1, 1, NULL, NULL, N'tuixachadidas.jpg')
GO
INSERT [dbo].[Users] ([user_id], [user_first_name], [user_last_name], [email], [password], [is_admin]) VALUES (0, N'Nguy?n ', N'Thành Phát', N'phat16102002abc@gmail.com', N'202cb962ac59075b964b07152d234b70', 1)
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
